@font-face {
    font-family: "Gotham-Light", sans-serif;
    src: url("./font/gotham_light_regular.otf")
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham-Light", sans-serif;
    scroll-behavior: smooth;
    // word-break: break-all;
}

body {
    background-color: #D9D9D9;
    /* D9D9D9 E2E2DF E0E1DD E5E6E4 E5E5E5 EAEAEA */
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 7rem;
}

.home {
    height: auto;
}

.dropdown-menu {
    position: fixed;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    padding-right: 0.1rem;
    z-index: 3;


    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #fff;
        font-size: 0.7rem;
        letter-spacing: 3px;
        margin: 0.3rem 0.3rem 0 0;
        cursor: pointer;

    }


    &__container {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 0;
        overflow: hidden;
        background-color: #D9D9D9;
        transition: .2s;
        transition-delay: .2s;
    }

    .centered-list {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
    }

    &__list {

        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        color: #000;
        letter-spacing: 3px;
        line-height: 1.2rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 1.5rem;

    }


    &__checkbox {
        display: none;

        &:checked~ {
            .dropdown-menu {

                &__container {
                    height: 100vh;
                    width: 100vw;
                    z-index: 3;
                    font-size: 1.4rem;
                }


            }
        }
    }
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero img {
    width: 100% !important;
    height: 100% !important;
}

.logo {
    width: 73px;
    height: 50px;
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}

.about {
    height: auto;
    margin: 2rem 2rem 3rem 2rem;
    text-align: left;
    letter-spacing: 3px;
    line-height: 1.3rem;
    font-size: 0.7rem;

}

.contact {
    height: 100vh;
    margin: 0 2rem;
    text-align: left;
    letter-spacing: 3px;
    line-height: 1.3rem;
    font-size: 0.625rem;
    // text-transform: lowercase;

}

.email a {
    font-size: 0.625rem;
    text-decoration: none;
    color: #000;
}



@media only screen and (min-width: 400px) {

    .img-container img {
        width: 50%;
        margin: 0 auto;
    }

    .hero img {
        display: block;
        width: 50% !important;
        height: 50% !important;
        margin: 0 auto;

    }

    .about {
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
        letter-spacing: 5px;
        line-height: 1.5rem;
        font-size: 0.8rem;

    }

    .contact {
        width: 50%;
        margin: 0 auto;
        letter-spacing: 5px;
        line-height: 1.5rem;
        font-size: 0.8rem;
    }

    .email a {
        font-size: 0.725rem;
        letter-spacing: 2px;
    }


    .container {
        grid-gap: 1rem;
    }


    .logo {
        width: 93px;
        height: 70px;
    }


    .dropdown-menu__list {
        letter-spacing: 5px;
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 768px) {

    .img-container img {
        width: 40%;
        margin: 0 auto;
    }

    .hero img {
        display: block;
        width: 40% !important;
        height: 40% !important;
        margin: 0 auto;

    }

    .about {
        width: 40%;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
        letter-spacing: 5px;
        line-height: 1.5rem;
        font-size: 0.9rem;
    }

    .contact {
        width: 40%;
        margin: 0 auto;
        letter-spacing: 5px;
        line-height: 1.5rem;
        font-size: 0.9rem;
    }

    .email a {
        font-size: 0.9rem;
        letter-spacing: 3px;
    }

    .dropdown-menu__list {
        letter-spacing: 5px;
        font-size: 0.9rem;
    }


}

@media only screen and (min-width: 1200px) {

    .img-container img {
        width: 40%;
        margin: 0 auto;
    }

    .hero img {
        display: block;
        width: 40% !important;
        height: 40% !important;
        margin: 0 auto;

    }

    .about {
        width: 40%;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    .contact {
        width: 40%;
        margin: 0 auto;

    }



}